@font-face {
  font-family: Yrsa;
  src: url("./assets/fonts/Yrsa.ttf") format("truetype");
}

:root {
  --light-orange: #fcd19c;
  --font-serif: Yrsa, serif;
  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--light-orange);
}

body {
  background-color: var(--light-orange);
}

/* Login page */
.appHeader {
  display: flex;
  justify-content: left;
}

.agoraImgJpg {
  height: 10em;
  width: 10em;
  object-fit: cover;
  border-radius: 100%;
}
.staticHeader {
  font-family: var(--font-serif);
  font-weight: 450;
}

.formDiv {
  text-align: left;
}

/* DataBar component */

.dataBar {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  font-family: var(--font-serif);
  font-size: 8px;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 17px;
  width: 200px;
}

.dbSet {
  display: flex;
  flex-direction: column;
}

.dbHeader {
  padding: 0;
  margin: 0;
}
.dbVal {
  font-size: 30px;
  padding: 0px;
  margin: -10px;
}

/* Settings page */

.settingsDiv {
  display: flex;
  flex-direction: column;
}

.proPicBox {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}
.profilePic {
  width: 10em;
  height: 10em;
}

.proPicForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputAndSave {
  display: flex;
  flex-direction: row;
}

/* Join Community Page */
.inputAndJoin {
  display: flex;
  flex-direction: column;
}
