@font-face {
  font-family: Yrsa;
  src: url("./assets/fonts/Yrsa.ttf") format("truetype");
}

:root {
  --light-orange: #fcd19c;
  --font-serif: Yrsa, serif;
  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--light-orange);
}

body {
  background-color: var(--light-orange);
}

/* Header component */

.headerComp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Footercomponent */

.footerComp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Login page */
.appHeader {
  display: flex;
  justify-content: left;
}

.agoraImgJpg {
  height: 10em;
  width: 10em;
  object-fit: cover;
  border-radius: 100%;
}
.staticHeader {
  font-family: var(--font-serif);
  font-weight: 450;
}

.formDiv {
  text-align: left;
}

/* DataBar component */

.dataBar {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  font-family: var(--font-serif);
  font-size: 8px;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 17px;
  width: 200px;
}

.dbSet {
  display: flex;
  flex-direction: column;
}

.dbHeader {
  padding: 0;
  margin: 0;
}
.dbVal {
  font-size: 30px;
  padding: 0px;
  margin: -10px;
}

/* Settings page */

.settingsDiv {
  display: flex;
  flex-direction: column;
}

.proPicBox {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}
.profilePic {
  width: 10em;
  height: 10em;
}

.proPicForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputAndSave {
  display: flex;
  flex-direction: row;
}

/* Join Community Page */
.inputAndJoin {
  display: flex;
  flex-direction: column;
}

/* NewCommunityPage */
.newCommDiv {
  display: flex;
  flex-direction: column;
}

.commPicBox {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}
.commPic {
  width: 10em;
  height: 10em;
}

.commPicForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* SingleCommunityPage */

.imgAndDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
}

.commImg {
  max-height: 200px;
  width: auto;
}

/* SellerBox component */

.sellerBoxFlex {
  display: flex;
  flex-direction: row;
  height: 200px;
  background-color: black;
  color: white;
  font-family: var(--font-serif);
}

.sbProPic {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* NewProductPage */
.newProdDiv {
  display: flex;
  flex-direction: column;
}

.prodPicBox {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}
.cprodPic {
  width: 10em;
  height: 10em;
}

.prodPicForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MyCommunities component */
.myCommunitiesList {
  border: black 2px solid;
}
.commItemAndOpts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: black 2px solid;
}
.commOptions {
  display: flex;
  flex-direction: column;
  border: black 2px solid;
}

.editIcon {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
}
/* MyProducts component */
.myProductsList {
  border: black 2px solid;
}

.prodItemAndOpts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: black 2px solid;
}
.prodOptions {
  display: flex;
  flex-direction: column;
  border: black 2px solid;
}

/* CommunityProducts component */
.communityProductsList {
  border: black 2px solid;
}

/* OtherCommunities component */
.otherCommunitiesList {
  border: black 2px solid;
}
